body {
  background-color: #f9f9f9;
  --maincolor: #ff6f38;
  font-family: 'Anek Latin', sans-serif;
  font-family: 'Roboto', sans-serif;

}

.container {
  width: 960px !important;
}

/* START NAVBAR */
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 10px;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  transition: all 0.1s ease-in-out;
  border-bottom: 1px solid transparent;
  font-size: 15px;
}

.navbar-light .navbar-nav .nav-item:hover .nav-link {
  color: var(--maincolor);
  border-bottom: 1px solid var(--maincolor);
}

.navbar .navbar-collapse {
  justify-content: space-between !important;
}

.navbar .search_form {
  position: relative;
}

.navbar .search_form input {
  width: 501px;
  outline: none;
  box-shadow: none;
  background: #f9f9f9;
  position: relative;
  padding-left: 40px;
}

.navbar .search_form input::placeholder {
  font-size: 14px;
}

.navbar .search_form i.fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 22px;
  color: #4e4e4e;
}

.main_navbar {
  background-color: #fff;
  margin-bottom: 20px;
}

/*START TOP NAVBAR*/

.top_navbar {}

.top_navbar .data {
  display: flex;
  justify-content: space-between;
}

.top_navbar .data .box1 {
  margin-top: 5px;
}

.top_navbar .data .box1 a {
  text-decoration: none;
  font-size: 13px;
  color: #414040;
}

.top_navbar .data .box2 {}

.top_navbar .data .box2 button {
  background-color: var(--maincolor);

  color: #fff;
  border: none;
  font-size: 14px;
  padding: 7px 10px;
}

.list-group-flush>.list-group-item p {
  font-weight: bold;
  font-size: 16px;
}

.carousel-indicators {

  background: #7f7f7f;
  width: 84px;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 10px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .5rem 1rem;
  color: #666667;
  text-decoration: none;
  background-color: #fff;
  font-size: 15px;
  border: none;
}

/*END TOP NAVBAR*/
/* END NAVBAR */

/* START BANNER 1*/
.banner1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner1 .data {}

.banner1 .data img {
  width: 100%;
}

.banner1 .data img.banner2 {
  min-height: 260px;
}

/* END BANNER 1*/
/*START SERVICES*/
.services {}

.services .data {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}

.services .data .info {

  border-right: 1px solid #ccc;
  padding: 10px 0;
}

.services .data .last_info {
  border: none;
}

.services .data .info img {
  display: inline-block;
}

.services .data .info h4 {
  display: inline-block;
  font-size: 14px;

  padding: 5px;
}

.services .data h4 a {
  text-decoration: none;
  color: #111;
}

.services .data h4:hover a {
  color: var(--maincolor);
}

/*END SERVICES*/
/* START POPUALR CATEGROY */
.popular_category {}

.popular_category h2 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.popular_category .data {}

.popular_category .data .info {}

.popular_category .data .info h4 {
  font-size: 14px;

  background-color: #fff;
  padding: 13px 6px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.popular_category .data .info h4:hover {
  background-color: var(--maincolor);
  border-color: var(--maincolor);
}

.popular_category .data .info h4 a {
  text-decoration: none;
  color: #111;
  transition: all 0.3s ease-in-out;
}

.popular_category .data .info h4:hover a {
  color: #fff;

}

/* END POPULAR CATEGORY*/

/* START FOOTER */

.footer {
  margin-top: 40px;
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer .data {}

.footer .data h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .data ul {}

.footer .data .social_media {}

.footer .data .social_media li {
  display: inline-block;
  margin-right: 4px;
  margin-left: 4px;
}

.footer .data ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.footer .data ul li a {
  text-decoration: none;
  color: #747474;
  font-size: 14px;

}

.footer .data ul li:hover a {
  color: #111;
}

.footer .copy {
  text-align: center;
}

.footer .copy img {
  max-width: 100%;
  margin-top: 30px;
}

.footer .copy p {
  font-size: 15px;
  margin-top: 20px;
  color: #4f4f4f;
}

/*END FOOTER*/